<div class='container-fluid' id='main'>
  <div class="row" id='row'>
    <section id='logIn' class='col bg-navy padding-2'>
      <div id='info' class='margin-top'>
        <h1 class='text-white letter-spacing-head header-font-size'> Good Docs </h1>
        <h3 class='text-muted'>Making life a little bit simpler for frustrated developers with easy to read solutions.</h3>
        <p class='text-white'> Register for a Good Docs account to save important snippets and find easy to understand documentation on the software you love. Click the button below to get started!</p>
      </div>
      <a href='#' class='btn btn-info'>Create Account</a>
    </section>
    <section class='col bg-purple padding-2'>
      <h2 class='margin-top text-white margin-bottom-1'>Log Into Your Account</h2>
      <form class='text-white'>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Username">
        </div>

        <div class="form-group">
          <label for="username">Password</label>
          <input type="password" class="form-control" id="password">
        </div>

        <div class="text-center">
          <input type="submit" class="btn btn-outline-secondary" id="password">
        </div>
      </form>
    </section>
  </div>

</div>
